
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:fragment="header">
	<div align="center">
		<h1 style="color: deeppink">Echo!</h1>
		<h6 style="color: grey"><i>Songs of old redone for you</i></h6>
	</div>
	<div class="bg-example">
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<button type="button" data-target="imagebarCollapse" data-toggle="collapse" class="navbar-toggle">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a href="/" class="navbar-brand">Echo!</a>
			</div>
			<div id="navbarCollapse" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
				<li><a sec:authorize="isAuthenticated()" th:href="@{/songs}">Songs</a></li>
				<li><a sec:authorize="isAuthenticated()" th:href="@{/songs/add}">New Song</a></li>
				<li><a sec:authorize="isAuthenticated()" th:href="@{/admin}">Users</a></li>
				<li><a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a></li>
				
				<li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a></li>
				<li><a sec:authorize="!isAuthenticated()" th:href="@{/register}">Register</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Start Page</a></li>
				</ul>
			</div>
		</nav>
	</div>
	
	<h2 th:text="${title}">Default Message Text</h2><br/>
</div>
</br>
<div th:fragment="footer">
	<h6 style="color: grey; text-align:center;position: fixed;bottom: 0; width: 100%;">Copyright 2021 Josh Beck</h6>
</div>
		