<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/template.html">

<body>
<!--Add additional table information, CSS styling, and error handling for empty lists-->
	<div class="container text-center" layout:fragment="content">
        <tr th:each="user: ${users}">
        	Username: <td th:text="${user.username} "></td>, ID: <td th:text="${user.id} "></td>
        	<a th:text="Delete" th:href="@{admin/delete(id=${user.id})}"></a>
        	<a th:text="Update" th:href="@{admin/update(id=${user.id})}"></a></br>
        </tr>
    </div>
     
</body>
</html>