<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/template.html">

<body>
<!--Add additional table information, CSS styling, and error handling for empty lists... fix bug-->
	<div class="container text-center" layout:fragment="content">
        <tr th:each="song: ${songs}">
        	Song Title: <strong><td th:text="${song.redoneTitle} "></td></strong>, ID: <td th:text="${song.id} "></td>
        	<a th:text="Delete" th:href="@{songs/delete(id=${song.id})}"></a>
        	<a th:text="Update" th:href="@{songs/update(redoneTitle=${song.redoneTitle})}"></a></br>
        </tr>
    </div>
     
</body>
</html>