<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/template.html">

<body>
	<div class="container text-center" layout:fragment="content">
         <h1>That username and password did not work... <a th:href="@{/login}">Try Again?</a></h1>
    </div>
</body>
</html>