<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/template.html">
<body>
    <div class="container text-center" layout:fragment="content">
        <h3 style="text-align: center; color:deeppink" th:text="${loginMsg}"></h3>
        <form th:action="@{/login}" method="post">
        <h3 style="text-align:center">Login</h3>
<br><input type="text" name="username" id="username" placeholder="Username" required ><br><br>

<input type="password" name="password" id="password" placeholder="Password" required ><br><br>
				<input type="submit" value="Submit" >
        </form>
        
    </div>
     
</body>
</html>