<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/template.html">

<body>
	<div class="container text-center" layout:fragment="content">
		<h3 style="text-align: center; color:deeppink" th:text="${loginMsg}"></h3>
		<div class="container text-center">
			<h1>Register</h1>
			<form th:action="@{/register/handler}" th:object="${user}" method="post">
				<table class="table">
					<tr>
						<td>
							<label>First Name: </label></br>
							<input type="text" th:field="*{firstName}" required minlength="1" maxlength="30" />
							<label style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
						</td>
					</tr>
					<tr>
						<td>
							<label>Last Name: </label></br>
							<input type="text" th:field="*{lastName}" required minlength="1" maxlength="30" />
							<label style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
						</td>
					</tr>
					<tr>
						<td>
							<label>E-mail: </label></br>
							<input type="email" th:field="*{email}" required />
							<label style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
						</td>
					</tr>
					<tr>
						<td>
							<label>Phone Number: </label></br>
							<input type="tel" th:field="*{phoneNum}" required  minlength="7" maxlength="10"/>
							<label style="color:red" th:if="${#fields.hasErrors('phoneNum')}" th:errors="*{phoneNum}">
						</td>
					</tr>
					<tr>
						<td>
							<label>Username: </label></br>
							<input type="text" th:field="*{username}" required minlength="10" maxlength="50" />
							<label style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
						</td>
					</tr>
					<tr>
						<td>
							<label>Password: </label></br>
							<input type="password" th:field="*{password}" required  minlength="10" maxlength="50" />
							<label style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
						</td>
					</tr>

					<tr>
						<td>
							<button type="submit">Sign Up</button>
						</td>
					</tr>

			</form>
		</div>

</body>

</html>